{% extends 'base.html' %}
{% block content %}
<div class="container">
  <div class="col-12">
    <div class="card">
      <div class="card-header"><h1>działy</h1></div>
      <div class="card-body">
      <div class="card">
    <div class="card-header"><h3> dodaj dział </h3></div>
    <div class="card-body">
      <form method="post">
        <input type="text" name="title" class="w-100" placeholder="Section title">
        <br>
        <textarea class="w-100" name="description" placeholder="description"></textarea>
        <button action="submit" class="btn btn-primary">dodaj</button>
      </form>
    </div>
  </div>
{%endblock%}