<!doctype html>
<html>
  <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>        
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
  </head>
    <title>dodaj role</title>
  </head>
  <body>
    <div class="container">
      <div class="card">
        <div class="card-header"><h1>add rank</h1></div>
        <div class="card-body">
          <form method="POST">
            <!-- name, addingpost, usersmanagment, modyfingrules -->
              <input type="text" name="name" placeholder="nazwa roli">
              <br>
              <br>
              <input type="checkbox" id="addingpost" name="addingpost">
              <label for="addingpost"><b>adding posts</b> - Permission to adding posts</label>
              <br>
              <input type="checkbox" id="postmanagment" name="postmanagment">
              <label for="postmanagment"><b>Posts management</b> - Permission to remove posts</label>
              <br>
              <input type="checkbox" id="usersmanagment" name="usersmanagment">
              <label for="usersmanagment"><b>Managing other users</b> - Permission to removing users and changing their ranks</label>
              <br>
              <input type="checkbox" id="modyfingrules" name="modyfingrules">
              <label for="modyfingrules"><b>rank management</b> - Permission to adding and removing ranks</label>
              <br>
              <button class="btn btn-primary" action="submit">Dodaj</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
