{% extends 'base.html' %}

{% block scripts %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.css">
<script src="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.js"></script>

{% endblock %}

{% block content %}
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-header"> dodaj post  </div>
            <div class="card-body">
              <form action="/add/post" method="post">
                <div class="row">
                <input class="col-12 form-control" type="text" placeholder="tytył" name="title">
                <div class="col-12">
                  <textarea class="tresc col-12 w-100" type="text" placeholder="treść postu" name="content"></textarea>
                  <script>
                    const easyMDE = new EasyMDE();
                  </script>
                </div>
                    <div class="col-12">
                      wybierz dział:
                      <select name="section">
                      {% for i in dzialy %} 
                      <option value="{{i.id}}">{{i.title}}</option>
                      {% endfor %}
                      </select>
                    </div>
                <button class="w-100 btn btn-primary" type="submit">dodaj post</button>
              </div>
              </form>
            </div>
          </div>
        </div>
      </div>

{% endblock %}